/* heaer-navbar */

.pizzah-header{
   
}

.header-navbar{
    width: 100%;
    height: 64px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #5C5C5C;
    box-shadow: 2px -1px 8px -4px #5c5c5c;
}



.navbar-logo__link--img{
    width: 148.75px;
    max-height: 64px;
}


.navbar-info__user{
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-info__user--local-icon{
    font-size: 20px;
    padding: 12px;
    color: #B5B6BD;
    margin-bottom: 5px;
}



.navbar-info__user--bell-icon{
    width: 27px;
    height: 27px;
}

.navbar-info__user--language{
    padding: 12px;
    color: #f44336  ;
}

.navbar-info__user--language:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.04);
}

.navbar-info__user--info{
    display: flex;
    align-items: center;
    padding:6px 8px;

}

.navbar-info__user--icon{
    width: 25px;

    margin-bottom: 1px;
    color: #cb1c3b;
}

.navbar-info__user--info-name{
    padding-left: 2px;
}

.navbar-info__order{
    display: flex;
    align-items: center;
    padding: 12px 8px;

}
.navbar-info{
    display: flex;
    align-items: center;

}

.navbar-info__user::before{
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #e4e4e4;
    top: -8px;
    right: -1px;
    height: 64px;
}

.navbar-info__user--info:hover,
.navbar-info__order:hover{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.navbar-info__order-icon{
    width: 25px;
    margin-right: 3px;
}

.navbar-info__fl{
    font-weight: 600;
}

/* navbar-content */

.navbar-content{

    width: 100%;
    height: 48px;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5;
}

.navbar-content__list{

    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar-content__item{
    display: inline-block;
}

.navbar-content__item--link{
    font-size: 15px;
    color: #646464;
    text-decoration: none;
    display: block;
    padding: 16px 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-content__item--icon{
    margin-left: 16px;
}




/* pizzah-container/ */

.pizzah-container{
    width: 100%;
    display: flex;
}

.pizza-content__box{
    width: 83%;
    background-image: url(/assets/img/backgroun-pizza.jpg);
    margin-top: 112px;

}

.pizza-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.pizza-content__item{
    padding: 6px;
    border-radius: 4px;
    overflow: hidden;
    flex-basis: 25%;
}

.pizza-content__item-img-box{
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pizza-content__item-img{
    display: block;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: transform 0.25s linear;
    
}



.pizza-content__item-img-box:hover {
    background-color: #f5f5f5;
}

.pizza-content__item:hover .pizza-content__item-img{
    transform: scale(110%);

}



.pizza-content__item-content{
    background-color: #fff;
    padding: 2px 6px 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pizza-item-content__title{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-weight: 600;
    margin: 8px 6px 6px;
}

.pizza-item-content__heading{
    margin-top: 6px;
}

.pizza-item-content__heading-new{
    font-size: 12px;
    padding: 4px;
    background-color: #FFC800;
    color: #313123;
}



.pizza-item-content__list{
    position: relative;
    font-weight: 400;
    margin-bottom: 4px;
    line-height: 2rem;
    height: 6rem;
    overflow: hidden;

}

.pizza-item-content__list-open{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    color: orange;
    cursor: pointer;
}
.pizza-item-content__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    margin: 0 -6px;
    padding: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}   


.pizza-item-content__price-new-number{
    font-weight: 500;
}

.pizza-item-content__price-btn{
    text-decoration: none;
    color: #fff;
    background-color: #0A8020;
    padding: 10px 45px;
    border-radius: 4px;
}

.pizzah-find{
    margin-top: 112px;
    width: 17%;
    background-image: url(/assets/img/backgroun-pizza.jpg);
}

.pizza-find__title{
    margin: 30px;
    font-weight: 600;
}

.pizza-find-list-box{
    margin: 30px;
    position: relative;
    display: flex;
}

.pizza-find-list-icon{
    margin-left: 5px;
    margin-top: 4px;
}
.pizza-find-list-box:hover .pizza-find-list-ul{
    display: block;
}

.pizza-find-list-ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-top: 10px;

}


.pizza-find-list-li:first-child a{
    border-top: none;
}



.pizza-find-list-link{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: block;
    padding: 10px;
    max-width: 135px;
    border-top: 1px solid #ccc;
}  

.pizza-find-list-link:hover{
    background-color: #d1cfcf;
}



