*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.font-14px{
    font-size: 1.4rem;
}

.font-13px{
    font-size: 1.3rem;
}

.font-16px{
    font-size: 1.6rem;

}
.font-weight-600{
    font-weight: 600;

}

.cursor-pointer{
    cursor: pointer;
}

.grid {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;

}

.gird__row{
   
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.gird__row-buttom{
   
   
    margin-left: -16px;
    margin-right: -16px;
}

.grid__col{
    padding-left: 16px;
    padding-right: 16px;
    width: 20%;
}

.grid__col--80{
    padding-left: 16px;
    padding-right: 16px;
    

    width: 85%;
}

.grid__col--10{
    padding-left: 16px;
    padding-right: 16px;
    width: 15%;
}

.p-tb-10px{
    padding: 10px 0 20px;
}