/* heaer-navbar */

.pizzah-header{

}

.header-navbar{
    height: 64px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #302f2f;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo{

}

.navbar-logo__link{

}

.navbar-logo__link--img{
    width: 148.75px;
    max-height: 64px;
}

.navbar-info{
    display: flex;
    align-items: center;

}

.navbar-info__user{
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-info__user::before{
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #e4e4e4;
    top: -12px;
    right: -1px;
    height: 64px;
}

.navbar-info__user--bell{

}

.navbar-info__user--bell-icon{
    width: 27px;
    height: 27px;
}

.navbar-info__user--language{
    padding: 12px;
    color: #f44336  ;
}

.navbar-info__user--language:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.04);
}

.navbar-info__user--info{
    display: flex;
    align-items: center;
    padding:6px 8px;

}

.navbar-info__user--icon{
    width: 27px;
    height: 27px;
    margin-bottom: 1px;
    margin-right: 4px;
    color: #cb1c3b;
}

.navbar-info__user--info-name{
    padding-left: 2px;
}

.navbar-info__order{
    display: flex;
    align-items: center;
    padding: 12px 8px;

}

.navbar-info__user--info:hover,
.navbar-info__order:hover{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.navbar-info__order-icon{
    width: 25px;
    margin-right: 3px;
}

.navbar-info__fl{
    font-weight: 600;
}

/* slider  */
.slider-img{
    display: block;
    width: 100%;
    margin-top: 64px;
}
/* container  */

/* container-order */
.pizzah-box-order{
    transform: translateY(-60px);
}

.pizzah-order{
    width: 450px;
    margin: auto;
    box-shadow: 0px 24px 31px -13px rgb(0 0 0 / 40%);
}

.pizzah-order__label{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  

}

.pizzah-order__label--ship{
    height: 60px;
    width: 223px;
    display: block;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 4px;
    
}

.pizzah-order__label--ship-icon{
    width: 28px;
    margin-right: 10px;
    transform: translateY(9px);
}

.pizzah-order__label--take-away{
    height: 55px;
    width: 223px;
    display: block;
    text-align: center;
    background-color: #eaeaea;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 4px;

}

.pizzah-order__label--take-away-icon{
    width: 28px;
    margin-right: 10px;
    transform: translateY(9px);

}

.pizzah-order__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizzah-order__input--infor{
    flex: 1;
    padding: 10px;
    margin: 10px 0 10px 10px;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #0a8020;
    outline: none;
}

.pizzah-order__input--infor:focus{
    border: 2px solid #0a8020;

}

.pizzah-order__input--map{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.pizzah-order__input--map-local{
    width: 25px;
}
/* container-content */

.pizzah-content{

}

.pizzah-content__title{
    height: 34px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizzah-content__title--promotion{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    padding: 0 12px;
    background-color: #fff;
    z-index: 2;
}

.pizzah-content__title--line{
    width: 100%;
    height: 3px;
    background-color: #e9ebee;
    position: absolute;
    top: 50%;

}

.pizzah-content__promotion{
    width: 100%;
    max-width: 1080px;
    display: flex;

    justify-content: space-between;
    margin: 10px auto;
}

.pizzah-content__promotion--img1{
    max-width: 50%;
    display: block;
    padding-right: 10px;
}

.pizzah-content__promotion--img2{
    max-width: 50%;
    
    display: block;

    padding-left: 10px;
}

.pizzah-content__btn{
    text-align: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #0A8020;
    border-radius: 4px;

}

.pizzah-content__btn--menu {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 14px;
    border-radius: 4px;
    margin: 16px;
}



.pizzah-footer__box{
    background-color: #1a1a1a;

}

.footer-heading{
 
    color: #fdd760;
    margin: 20px 0 10px;
    
}

.footer-content__list{
    list-style: none;
}

.footer-content__item{
    display: block;
    padding: 5px 0;

}


.footer-content__item--name{
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
}

.footer-content__item--link{
    text-decoration: none;
}

.footer-content__item--img{
    width: 28px;
    margin-right: 8px;
}   

.footer-content__item--std{
    color: #0A8020;
    text-decoration: none;
}

.footer-content__download{
    display: flex;
    align-items: center;
}

.download--qr{
    width: 68px;
}

.footer-content__download--apps{
    height: 68px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.download--app-store{
    text-decoration: none;
    display: block;

}

.download--app-store-img{
    display: block;
    width: 100%;
    height: 90%;
}

.pizzah-footer__local{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    padding: 10px 0 0;
}

.pizzah-footer__local::before{
    content: "";
    width: 1080px;
    max-width: 100%;
    display: block;
    border-top: 1px solid #fff;
    position: absolute;
    top: -12px;
    right: 16px;
}

.pizzah-footer__local-info{


}

.local-info{
    display: flex;
}

.local-info-name-company{
    padding: 0 12px 4px 0;
    position: relative;
}

.local-info-name-company::after{
    content: "";
    height: 16px;
    display: block;
    border-right: 1px solid #fff;
    position: absolute;
    top: 0;
    right: 6px;

}

.local-info-name-dkkd{

}

.local-info-location{

}

.pizzah-footer__conditon{
    text-align: right;
}

.pizzah-footer__conditon-item{
    margin-bottom: 5px;
}

.pizzah-footer__conditon-link{

}

.pizzah-footer__conditon-link-img{

}







